{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "parser": "babel-eslint",
  "rules": {
    "eol-last": 2,
    "quotes": [2, "single"],
    "no-underscore-dangle": [0]
  }
}
